:root {
  --main-colour: rgb(54, 39, 6);
  --secondary-colour: rgb(208, 245, 190);
  --light-colour: rgb(251, 255, 220);
}

body {
  background-color: var(--light-colour);
  font-family: "Nunito";
}

footer {
  background-color: var(--main-colour);
  color: var(--secondary-colour);
  padding: 50px;
}

header {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.5)
    ),
    url("../images/wengen.jpg");
  background-size: cover;
  color: var(--main-colour);
  margin-top: 50px;
  padding: 150px;
  text-align: center;
}

h1 {
  font-size: 100px;
  font-variant: small-caps;
  margin: 0;
}

h2 {
  font-size: 40px;
  margin-bottom: 0;
}

h3 {
  font-size: 20px;
  font-weight: 700;
}

.about-me {
  text-align: justify;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.headline {
  margin-bottom: 50px;
}

.learn-more-button {
  background-color: var(--secondary-colour);
  border: none;
  border-radius: 5px;
  color: var(--main-colour);
  font-family: "Nunito";
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.learn-more-button:hover {
  color: var(--secondary-colour);
  background-color: var(--main-colour);
}

.more-info-list {
  margin-top: 0;
  padding: 0;
}

.more-info-list li {
  list-style: none;
}

.more-info-list a {
  color: var(--secondary-colour);
}
